.app-container {
  padding: 25px;
}

.header {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  border-radius: 15px;
  margin-bottom: 35px;
  padding-left: 40px;
}
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .welcome-text {
    text-align: center;
  }
}
.person-name {
  color: #475569;
  font-family: 'roboto';
  font-size: 24px;
  padding-top: 30px;
}
.welcome-text {
  color: #475569;
  font-weight: 700;
  padding-bottom: 20px;
}
.money-manage {
  color: #0b69ff;
}

@media screen and (min-width: 768px) {
  .money-details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/* form section*/
.form-container {
  border-radius: 15px;
  border: 1px solid #cbd5e1;
  padding: 30px;
  margin-bottom: 30px;
}
.form-heading {
  color: #475569;
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 500;
}
label {
  color: #7e858e;
  font-size: 12px;
  font-family: 'roboto';
  font-weight: 600;
}
.input {
  height: 38px;
  width: 250px;
  border-radius: 2px;
  border: 1px solid #cbd5e1;
  padding-left: 15px;
  margin-bottom: 15px;
  margin-top: 8px;
  outline: none;
  flex-shrink: 0;
  overflow: auto;
}
button {
  height: 40px;
  width: 70px;
  background-color: #0b69ff;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.transaction-container {
  border-radius: 15px;
  border: 1px solid #cbd5e1;
  padding: 25px;
}
.transactions-cont {
  border: 1px solid #cbd5e1;
  padding: 0;
  list-style-type: none;
}
.item-names {
  height: 50px;
  border: 1px solid #cbd5e1;
  padding: 15px;
  display: flex;
  align-items: center;
}
.text {
  color: #475569;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 14px;
  width: 80px;
}
@media screen and (min-width: 768px) {
  .text {
    width: 100px;
  }
}
.money-details-container {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .form-transactions-container {
    display: flex;
    justify-content: space-between;
  }
  .form-container {
    width: 43%;
  }
  .transaction-container {
    width: 52%;
    overflow: auto;
  }
}
.amount {
  font-size: 24px;
  font-weight: 700;
  color: #475569;
  font-family: 'roboto';
}
ul {
  padding: 0;
}
