.item-names {
  height: 50px;
  border: 1px solid #cbd5e1;
  padding: 15px;
  display: flex;
  align-items: center;
}
.text {
  color: #475569;
  font-family: 'roboto';
  font-weight: 500;
  font-size: 14px;
  width: 80px;
  text-transform: capitalize;
}
@media screen and (min-width: 768px) {
  .text {
    width: 100px;
  }
}
.delete-img-cont {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.delete-img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.button {
  background-color: #ffffff;
  border: none;
}
